// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html,
.body {
}

.wrapper.secondary {
  background: #f3f3f3;
}

table.menu {
  background: $primary-color;
  padding: 0 10px;
  table {
    width: 100%;
  }
}

table.menu td.menu-item a, table.menu th.menu-item {
  padding: 20px 10px;
  a {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
  }
}

h2, h3 {
  font-weight: bold;
}

.product {
  border-bottom: 5px solid #eff0f1;

  &.last {
    border-bottom: 0;
  }

  h3 a {
    border-bottom: 2px solid $primary-color;
  }

  .params {
    color: #888e8f;
    font-size: 14px;
  }

  th.callout-inner.info {
    background: transparent;
    border: solid 1px #00a82b;

    p {
      strong {
        color: #00a82b;
      }
    }
  }

  .price {
    font-weight: bold;

    strong {
      color: $primary-color;
    }
  }
}

th.callout-inner.help {
  background: #1f2122;
  border: 0;
  padding: 20px;

  h2 {
    color: #fff;
  }

  a {
    color: #fff;
    font-weight: bold;

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }
  }
}

.footer-contact {
  background: #e12e42;

  a {
    color: #fff;
    display: inline-block;
    padding: 0 20px;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.footer-address {
  background: #424242;

  .address {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  p {
    color: #e2e2e2;
  }
}

.footer-copyright {
  background: #1f2122;

  .copyright {
    padding: 20px 0 10px;
  }

  p {
    color: #535455;
  }
}