---
subject: Newsletter pro spolehlivepneu.cz
---

<spacer size="40"></spacer>

<container>

    <!--
    Hlavička
     - obrázek
     - navigace
     -->
    {{> header}}

    <!--
     HERO sekce
      - banner s odkazem
    -->
    {{> hero}}

    <!-- spacer vytváří vertikální odsazení -->
    <spacer size="40"></spacer>

    <!-- Samotné textové sdělení -->
    <row>
        <columns>
            <p><strong>Dobrý den, Jirko</strong></p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto reiciendis eos magni deleniti
                accusamus tempore,
                consectetur! Maxime amet, exercitationem nihil fugit eius esse voluptatum ab incidunt minima, saepe
                reiciendis ipsum.</p>
        </columns>
    </row>

    <row>
        <columns>

            <!-- HR - ohraničí další sekce -->
            {{> hr}}

            <h2>Produkty pro Vás</h2>
        </columns>
    </row>

    <!-- Výpis produktů -->
    <row>
        <columns>
            {{#repeat 3}}
            {{> product}}
            {{/repeat}}

            <!-- Poslední produkt musí obsahovat třídu/styly pro odstranení spodního borderu -->
            {{> product-last}}
        </columns>
    </row>

    <!-- Sekce pro rychlé konktakty -->
    {{> help}}

    <!-- Opět další výpis produktů -->
    <row>
        <columns>
            {{#repeat 4}}
            {{> product}}
            {{/repeat}}

            {{> product-last}}
        </columns>
    </row>

    <!-- Tlačítko s odkazem pro otevření dalších produktů na webu -->
    <row>
        <columns>
            <center>
                <button href="https://www.spolehlivepneu.cz/" style="">
                    PROHLÉDNĚTE SI DALŠÍ PRODUKTY {{> ico-arrow}}
                </button>
            </center>
        </columns>
    </row>

    <spacer size="20"></spacer>

    <!-- Patička emailu -->
    {{> footer}}

</container>


<spacer size="40"></spacer>
