<row class="footer-contact">
    <columns style="padding-bottom: 0">
        <spacer size="20"></spacer>
        <a href="mailto:info@spolehlivepneu.cz">
            {{> ico-mail}}
            &nbsp;&nbsp;&nbsp;info@spolehlivepneu.cz</a>
        <a href="tel:380712870">
            {{> ico-tel}}
            &nbsp;&nbsp;&nbsp;+420 380 712 870</a>
        <spacer size="20"></spacer>
    </columns>
</row>

<row class="footer-address">
    <columns small="7" class="address">
        <p>
            KOMAT a.s.<br/>
            Dolní Třebonín 196, 382 01 Dolní Třebonín<br/>
            IČ: 26089505<br/>
            IČO: 26089505
        </p>
    </columns>
    <columns small="5">
        <spacer size="60"></spacer>
        <img class="float-right" src="{{root}}assets/img/komat.png" alt="Komat">
    </columns>
</row>

<row class="footer-copyright">
    <columns small="9" class="copyright">
        <spacer size="10"></spacer>
        <p style="margin: 0">© 2017 | Spolehlivé pneu</p>
    </columns>
    <columns small="3" class="copyright" style="padding-left: 0 !important;">
        <p class="text-right" style="margin: 0">
            <a href="https://www.facebook.com/spolehlivepneu/">{{> ico-fcb}}</a>
        </p>
    </columns>
</row>