<!-- Hlavička emailu -->
<img src="{{root}}assets/img/header.jpg" alt="hlavička">

<!-- Hlavní navigace -->
<row class="collapse">
    <columns style="background-color: #e12e42;padding-bottom: 0 !important;">
        <menu style="padding: 0 20px; background-color: #e12e42;">
            <item href="https://www.spolehlivepneu.cz/">LETNÍ PNEU</item>
            <item href="https://www.spolehlivepneu.cz/">ZIMNÍ PNEU</item>
            <item href="https://www.spolehlivepneu.cz/">CELOROČNÍ PNEU</item>
            <item href="https://www.spolehlivepneu.cz/">DALŠÍ PRODUKTY</item>
        </menu>
    </columns>
</row>