<row>
    <columns>
        <callout class="help">
            <h2>Poradíme Vám s výběrem pneu</h2>

            <spacer size="10"></spacer>
            <row>
                <columns large="7" style="padding-bottom: 0">
                    <a href="mailto:info@spolehlivepneu.cz">
                        <img src="{{root}}assets/img/ico_mail.jpg" alt="email">
                        &nbsp;info@spolehlivepneu.cz</a>
                </columns>
                <columns large="5" style="padding-bottom: 0">
                    <a href="tel:380712870">
                        <img src="{{root}}assets/img/ico_tel.jpg" alt="tel">
                        &nbsp;+420 380 712 870</a>
                </columns>
            </row>
        </callout>
    </columns>
</row>