<center>
    <table>
        <tr>
            <td style="background:none; border:solid 1px #e8e8e8; border-width:1px 0 0 0; height:1px; margin:0px 0px 0px 0px;"></td>
        </tr>
    </table>
</center>

<spacer size="20"></spacer>
