<row class="product">
    <columns small="2" large="3">
        <!-- produktový obrázek | 95x132px -->
        <a href="https://www.spolehlivepneu.cz/">
            <img class="float-left" style="margin-right: 10px;" src="{{root}}assets/img/product_img.jpg" alt="product">
        </a>
    </columns>
    <columns small="10" large="9">
        <!-- název produktu / odkaz na webovou stránku produktu -->
        <h3><a href="https://www.spolehlivepneu.cz/">BARUM Bravuris 3HM XL FR 235/45 R18</a></h3>
        <!-- parametry produktu -->
        <p class="params">235 /45 R18 Y LETNÍ {{> ico-winter}}</p>

        <row>
            <columns small="12" large="6" style="padding-bottom: 0;">
                <!-- dostupnost a dodání produktu -->
                <callout class="info">
                    <p style="margin: 0 !important; font-size: 12px; color: #888e8f;">
                        Dostupnost: <strong>skladem >12 ks</strong>
                        <br>
                        Dodání: <strong>do pondělí 16.10</strong>
                    </p>
                </callout>
            </columns>
            <columns small="12" large="6" style="padding-bottom: 0;vertical-align: bottom">
                <!-- cena produktu -->
                <p class="text-right price">Cena: <strong>1 679 Kč</strong></p>
            </columns>
        </row>

    </columns>
</row>

<spacer size="20"></spacer>